@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700|Ubuntu:300,400,500|Oswald:400,300);


//
// Mixins
// --------------------------------------------------

@mixin center-y-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-x-align($position) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


//
// Variables
// --------------------------------------------------
$font-lato: 'Lato', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$accent-color: #EFBACC;
$max-width: em(1550);
$modular-scale-ratio: $minor-third;

body {
  overflow-x: hidden;
  font-family: $font-lato;
  font-weight: 300;

  @include media(max-width 992px) {
    font-size: modular-scale(-1);
  }

  @include media(max-width 768px) {
    font-size: modular-scale(-2);
  }

  @include media(max-width 500px) {
    font-size: modular-scale(-3);
  }
}