.feed {
  @include outer-container;
  margin-bottom: modular-scale(0);
}

.post-header {
  height: modular-scale(3, 7.5em, $golden);
  @include linear-gradient(-45deg, $accent-color, #EBD0CF);
  background-size: cover;
  background-position: 25% 30%;
  position: relative;

  .post-title-link {
    @include size(100%);
    display: block;
    text-decoration: none;

    &:hover .read-more-button {
      opacity: 1;
    }

    .read-more-button {
      @include center-x-align(absolute);
      opacity: 0;
      bottom: modular-scale(2);
      background-color: transparent;
      border: 1px solid #FFF;
      padding: modular-scale(0);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      @include transition(all, 250ms, linear);

      &:hover {
        background-color: rgba(75, 75, 75, 0.25);
      }

      &:focus {
        outline: none;
      }

      h4 {
        margin: 0;
        font-size: modular-scale(0);
        font-weight: 100;
        color: #FFF;
        text-transform: uppercase;
      }
    }
  }

  .post-title {
    @include center-y-align(absolute);
    width: 100%;
    margin: 0;
    padding: em(15);
    display: inline-block;
    font-family: $font-lato;
    font-size: modular-scale(6);
    font-weight: 300;
    text-align: center;
    color: #FFF;
  }

  .date-widget {
    @include size(modular-scale(7));
    position: absolute;
    left: modular-scale(0);
    top: modular-scale(0);
    text-align: center;
    border: 1px solid #FFF;

    .date-container {
      @include center-y-align(relative);
      font-family: $font-lato;
      font-weight: 100;
      line-height: modular-scale(3);
      color: #FFF;
      
      .month {
        font-size: modular-scale(3);
      }
      
      .day {
        font-size: modular-scale(2);
      }
    }
  }
}