.main-nav {
  @include outer-container;
  height: em(65);
}

.blog-logo-container {
  @include shift(0.25);
  @include span-columns(2.75, block-collapse);
  height: 100%;

  .blog-logo-link {
  }

  .blog-logo {
    height: 100%;
  }
}

.nav-list {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  li {
    @include center-y-align(relative);
    display: inline-block;
    text-align: center;
  }
}

.nav-site {
  @include span-columns(6, block-collapse);
  height: 100%;

  .nav-list {
    max-width: em(450);

    li {
      @include span-columns(1.2 of 6);
      text-transform: uppercase;
      font-size: em(14);
    }
  }
}

.nav-social {
  @include span-columns(2.7, block-collapse);
  height: 100%;

  li {
    @include span-columns(2 of 12, block-collapse);

    a {
      padding: em(13);
      margin: em(3);
    }
  }

  .social-icon {
    @include size(em(21));
    padding-top: em(2);
  }
}