<div class="results-header-border">
    <h2 class="results-header">Tag Archives: {{::tag.currentTagName}}</h2>
</div>

<div class="results-num-posts" ng-if="!tag.showError">Number of posts found: {{::tag.numPosts}}</div>
<div class="results-error" ng-if="tag.showError">No posts found for the tag: <span>{{::tag.currentTagName}}</span></div>

<div class="results-feed-container">
    <article class="feed results-tile" ng-repeat="post in tag.posts" fpr-page-title="Tag: {{::tag.currentTagName}}">
        <header class="post-header" ng-style="::post.acf['featured_image'] && {'background-image': 'url(' + post.acf['featured_image'] + ')'}">
            <div fpr-post-date="{{::post.date}}"></div>

            <a class="post-title-link" ng-href="{{::post.link}}">
                <h2 class="post-title" ng-bind-html="::post.title | uppercase"></h2>

                <button type="button" class="read-more-button" ng-if="!post.acf['is_featured']">
                    <h4>Read More</h4>
                </button>
            </a>
        </header>
    </article>
</div>

<!-- load more articles -->
<fpr-load-more></fpr-load-more>