<div class="terms-header-border">
    <h2 class="terms-header">Category Archives: {{::category.currentCategoryName}}</h2>
</div>

<div class="terms-num-posts" ng-if="!category.showError">Number of posts found: {{::category.totalCategoryPosts}}</div>
<div class="terms-error" ng-if="category.showError">No posts found for the tag: <span>{{::category.currentCategoryName}}</span></div>

<div class="terms-feed-container">
    <article class="feed terms-tile" ng-repeat="post in category.posts" fpr-page-title="Category: {{::category.currentCategoryName}}">
        <header class="post-header" ng-style="::post.acf['featured_image'] && {'background-image': 'url(' + post.acf['featured_image'] + ')'}">
            <div fpr-post-date="{{::post.date}}"></div>

            <a class="post-title-link" ng-href="{{::post.link}}">
                <h2 class="post-title" ng-bind-html="::post.title | uppercase"></h2>

                <button type="button" class="read-more-button" ng-if="!post.acf['is_featured']">
                    <h4>Read More</h4>
                </button>
            </a>
        </header>
    </article>
</div>

<!-- load more articles -->
<div ng-if="!category.showError">
    <button ng-if="!category.noMoreResults" ng-click="category.getMorePosts()" class="load-more-posts">Load More Posts</button>
    <div ng-if="category.noMoreResults" class="no-results">No more results...</div>
</div>