<div class="results-header-border">
    <h2 class="results-header">Category Archives: {{::category.currentCategoryName}}</h2>
</div>

<div class="results-num-posts" ng-if="!category.showError">Number of posts: {{::category.numPosts}}</div>
<div class="results-error" ng-if="category.showError">No posts found for that tag (<span>{{::category.currentCategoryName}}</span>)</div>

<div class="results-feed-container">
    <fpr-page-meta
        meta-title="Category: {{::category.currentCategoryName}}"
        meta-description="Category Archives | Category Term: {{::category.currentCategoryName}}"
        >
    </fpr-page-meta>
    <article class="feed fade results-tile" ng-repeat="post in category.posts track by post.ID">
        <header class="post-header" fpr-preload-bg="{{::post.acf['featured_image']}}">
            <div fpr-post-date="{{::post.date}}"></div>

            <a class="post-title-link" ng-href="{{::post.link}}">
                <h2 class="post-title" ng-bind-html="::post.title | uppercase"></h2>

                <button type="button" class="read-more fpr-btn" ng-if="!post.acf['is_featured']">
                    <h4>Read More</h4>
                </button>
            </a>
        </header>
    </article>
</div>

<!-- load more articles -->
<fpr-load-more></fpr-load-more>
