.fade.ng-enter {
  transition: 300ms linear all;
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: 100ms linear all;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/**
* STAGGERED FEED ENTER
**/

.feed.ng-enter-stagger {
  transition-delay: 150ms;
  transition-duration: 0ms;
}

/**
* LOADING PANEL
**/
// no delay for enter of loading panel
.loading-panel.fade.ng-enter {
  transition: 0ms linear all;
}

// more delay for leave of loading panel
.loading-panel.fade.ng-leave {
  transition: 300ms ease-out all;
}
