@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700|Ubuntu:300,400,500|Oswald:400,300);


//
// Mixins
// --------------------------------------------------

@mixin center-y-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-x-align($position) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


//
// Variables
// --------------------------------------------------
$font-lato: 'Lato', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$accent-color: #EFBACC;
$max-width: em(1550);
$modular-scale-ratio: $minor-third;

body {
  overflow-x: hidden;
  font-family: $font-lato;
  font-weight: 300;

  @include media(max-width 992px) {
    font-size: modular-scale(-1);
  }

  @include media(max-width 768px) {
    font-size: modular-scale(-2);
  }

  @include media(max-width 500px) {
    font-size: modular-scale(-3);
  }
}

.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}