@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700|Ubuntu:300,400,500|Oswald:400,300);

//
// Mixins
// --------------------------------------------------

@mixin center-y-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-x-align($position) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


//
// Variables
// --------------------------------------------------
$font-lato: 'Lato', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$accent-pink: #EFBACC;
$accent-grey: rgba(15, 15, 15, 0.7);
$max-width: em(1550);
$modular-scale-ratio: $minor-third;

body {
  overflow-x: hidden;
  font-family: $font-lato;
  font-weight: 300;
  padding-bottom: rem(75px);

  @include media(max-width 992px) {
    font-size: modular-scale(-1);
  }

  @include media(max-width 768px) {
    font-size: modular-scale(-2);
  }

  @include media(max-width 500px) {
    font-size: modular-scale(-3);
  }
}

body.modal-open {
  overflow: hidden;
}

button {
  &:focus {
    outline: none;
  }
}

// loading screen
.loading-panel {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;

  .loading-panel-inner {
    @include center-x-align(absolute);
    top: 35%;
  }

  .loading-title {
    text-align: center;
    font-size: modular-scale(11);
    font-weight: 100;
  }

  .chasing-dots-spinner {
    margin-top: em(30);
  }
}

// 404 error page
.not-found {
  width: 80%;
  margin: em(40) auto;

  a {
    font-weight: 700;
  }
}

.hide {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}