.single-post {
  @include outer-container;

  .post-header {
    height: modular-scale(15, 4em, $minor-third);
    max-height: rem(500);
  }

  .post-title {
    font-size: modular-scale(7);
  }
}

.post-images {
    min-height: 300px;
}

.old-post-content p img{
    padding: rem(10);
    max-width: rem(750);
    margin: 0 auto;
}

.post-content {
  padding: rem(10);
  max-width: rem(750);
  margin: 0 auto;

  p {
    font-size: modular-scale(1, rem(16), $minor-second);
    margin: 0;
  }

  .post-image-container {

  }

  .post-image {
    @include size(100%);
    margin-bottom: rem(5);
  }

  .outfit-details {
    text-align: center;
    margin-bottom: rem(20);

    p {
      margin: rem(5.5) 0 rem(7.5);
      line-height: rem(20);
      font-size: modular-scale(1, rem(14), $minor-second);
    }
  }

  .main-copy {
    text-align: justify;
    margin-bottom: rem(25);

    p {
      margin-bottom: rem(15);
      padding: 0 rem(5);
      line-height: rem(20);
    }
  }

  .blog-lovin {
    width: 100%;
    max-width: rem(650);
    margin: rem(15) auto;

    img {
      @include fill-parent;
    }
  }
}

.featured-post {
  p {
    img {
      width: 100%;
      max-width: rem(750);
    }
  }
}

fpr-share-buttons {
    display: block;
    min-height: 60px;
}

.share {
    padding: rem(10);
    margin: 0 auto;
    max-width: rem(750);
    transition: all 750ms linear;

    .share-icon {
        @include size(rem(34));
        display: inline-block;
        position: relative;
        padding: rem(5);
        margin-right: rem(5);
        text-decoration: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        .social-icon {
            @include fill-parent;
            color: #FFF;

            &:before {
                margin-left: 0;
                position: absolute;
                top: rem(6);
                left: rem(8);
            }
        }
  }

  .icon-twitter {
    background-color: #1AB4EF;
  }

  .icon-facebook {
    background-color: #4F69A2;
  }

  .icon-tumblr {
    background-color: #415972;
  }

  .icon-pinterest {
      padding: 0;

      img {
          height: 32px !important;
          width: 32px !important;
      }
  }
}

.share.affix {
    top: 40% !important;
    left: 0;

    @include media(max-width 768px) {
        position: relative !important;
    }

    .share-icon {
        display: block;
        margin-bottom: rem(5);

        @include media(max-width 768px) {
          display: inline-block !important;
        }
    }
}

.post-footer {
    width: 95%;
    max-width: rem(750);
    margin: 0 auto;
    padding: rem(10);
    border: 0;
    border-bottom: 1px solid #EEE;
    font-size: modular-scale(0, rem(14.5));

    .post-terms {
        font-size: modular-scale(0, rem(13.5));

        h4 {
            display: inline-block;
            font-weight: 300;
            margin: 0;
        }
    }
}

.pipe-divider {
    padding: 0 rem(5);
}

// Disqus comment style
.comment-container {
    width: 95%;
    max-width: rem(750);
    margin: 0 auto rem(25);
    padding: rem(25) rem(10);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.comment-btn {
    flex: 2 1 auto;
    width: 50%;
    max-width: rem(500);
    border-color: #000;
    padding: modular-scale(3) modular-scale(2);
    margin: modular-scale(0);

    &:hover {
        background-color: rgba(239, 186, 204, 0.8);
        border-color: #FFF;
        color: #FFF;
    }
}

.disqus-container {
    flex: 1 1 auto;
    width: 100%;
}
