.single-post {
  @include outer-container;

  .post-header {
    height: modular-scale(15, 4em, $minor-third);
    max-height: rem(500);
  }

  .post-title {
    font-size: modular-scale(7);
  }
}

.post-content {
  padding: rem(10);
  max-width: rem(750);
  margin: 0 auto;

  p {
    font-size: modular-scale(1, rem(16), $minor-second);
    margin: 0;

    img {
      @include size(100%);
      margin-bottom: rem(5);
    }
  }

  .outfit-details {
    text-align: center;
    margin-bottom: rem(20);

    p {
      margin: rem(5.5) 0 rem(7.5);
      line-height: rem(20);
      font-size: modular-scale(1, rem(14), $minor-second);
    }
  }

  .main-copy {
    text-align: justify;
    margin-bottom: rem(25);

    p {
      margin-bottom: rem(15);
      padding: 0 rem(5);
      line-height: rem(20);
    }
  }

  .blog-lovin {
    width: 100%;
    max-width: rem(650);
    margin: rem(15) auto;

    img {
      @include fill-parent;
    }
  }
}

.featured-post {
  p {
    img {
      width: 100%;
      max-width: rem(750);
    }
  }
}

.share {
  width: 95%;
  max-width: rem(750);
  margin: 0 auto;
  padding: rem(10);

  h4 {
    margin: 0 0 rem(10);
    font-weight: 300;
    font-size: modular-scale(0, rem(15), $minor-second);
  }

  a {
    @include size(rem(40));
    display: inline-block;
    position: relative;
    padding: rem(5);
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    .social-icon {
      @include fill-parent;
      color: #FFF;

      &:before {
        margin-left: 0;
        position: absolute;
        top: rem(8);
        left: rem(10);
      }
    }
  }

  .icon-twitter {
    background-color: #1AB4EF;
  }

  .icon-facebook {
    background-color: #4F69A2;
  }

  .icon-tumblr {
    background-color: #415972;
  }
}

.post-footer {
  width: 95%;
  max-width: rem(750);
  margin: 0 auto rem(30);
  padding: rem(10);
  border: 0;
  border-bottom: 1px solid #EEE;
  font-size: modular-scale(0, rem(14.5));

  .post-terms {
    font-size: modular-scale(0, rem(13.5));

    h4 {
      display: inline-block;
      font-weight: 300;
      margin: 0;
    }
  }
}

.pipe-divider {
  padding: 0 rem(5);
}
