.insta-widget {
  display: flex;
  flex-flow: row nowrap;

  .insta-tile {
    @include calc(height, 100% / 6);
    position: relative;
    flex: 1 1 auto;
    min-width: 50px;

    a {
      color: #000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .insta-image {
      opacity: 0;
      display: block;
      @include transition(opacity, 350ms, ease);
    }
  }
}

.insta-image img {
  @include fill-parent;
}

.insta-caption-container {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.6);
  @include transition(opacity, 250ms, ease);

  &:hover {
    opacity: 1;
  }

  .icon-instagram {
    position: absolute;
    opacity: 0.75;
    top: modular-scale(-1);
    right: modular-scale(-1);

    &:before {
      margin: 0;
      font-size: modular-scale(3);
    }
  }

  .insta-caption {
    opacity: 0.5;
    position: absolute;
    bottom: 15%;
    text-align: center;

    span {
      display: block;
      text-align: center;
      font-family: $font-oswald;
      font-size: modular-scale(3);
      font-weight: 300;
    }
  }

  .insta-likes {
    left: 18%;

    @include media(min-width 992px) {
      left: 25%;
    }
  }

  .insta-comments {
    right: 18%;

    @include media(min-width 992px) {
      right: 25%;
    }
  }

  .insta-caption i::before {
    margin: 0;
    font-size: modular-scale(2);
  }
}

.bottom-insta-widget {
  width: 90%;
  max-width: rem(1500);
  margin: 0 auto em(25);

  .insta-widget {
    flex-wrap: wrap;
  }

  .insta-widget-header {
    margin: 0;
    border-top: 1px solid $accent-grey;

    @include media(min-width 768px) {
     margin: 0 rem(55);
    }

    h3 {
      @include center-x-align(relative);
      bottom: modular-scale(-2);
      display: inline-block;
      z-index: 1;
      margin-top: 0;
      padding: 0 rem(10px);
      text-transform: uppercase;
      color: $accent-grey;
      font-family: $font-lato;
      font-size: modular-scale(2);
      font-weight: 300;
      background-color: #FFF;
    }
  }

  .insta-tile {
    width: 20%;
  }
}

@include media(max-width 768px) {
  .insta-widget {
    flex-wrap: wrap;
  }

  .insta-tile, .bottom-insta-widget .insta-tile {
    width: 33.33333333%;
  }
}
