.results-header-border {
  margin: 0 auto rem(15px);
  border-bottom: 1px solid #000;
  height: 100%;
  max-width: 80%;
}

.results-header {
  @include center-x-align(relative);
  top: rem(30px);
  display: inline-block;
  background: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: rem(20);
  font-family: $font-oswald;
  padding: 0 em(7px);
}

.results-feed-container {
  @include outer-container;
  margin: 0 em(35px);

  .results-tile {
    @include span-columns(6);
    @include omega(2n);

    .post-header {
      background-position: center;
      height: em(400);
    }
    
    .post-title {
      font-size: modular-scale(4);
    }

    .date-widget {
      .month {
        font-size: modular-scale(2);
      }
      .day {
        font-size: modular-scale(1);
      }
    }
  }
}

.results-num-posts, .results-error {
  text-align: center;
  text-transform: lowercase;
  margin-bottom: rem(50);
}

.no-results {
  text-align: center;
  text-transform: lowercase;
  margin: rem(40);
}

.results-error {
  margin: rem(30);
  text-transform: uppercase;
}

// search page font size fix
.results-container {
  font-size: modular-scale(-4);
}