.results-header-border {
  margin: 0 auto rem(15px);
  border-bottom: 1px solid $accent-grey;
  height: 100%;
  max-width: 80%;
}

.results-header {
  @include center-x-align(relative);
  top: rem(30px);
  display: inline-block;
  background: #FFF;
  color: $accent-grey;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: rem(20);
  font-family: $font-oswald;
  padding: 0 em(7px);
}

.results-feed-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: rem(1000);
  margin: 0 auto;
  padding: 0 rem(15);

  .results-tile {
    flex: 1 1 rem(450);
    width: 100%;
    max-width: 450px;

    .post-header {
      background-position: center;
      height: em(400);
    }

    .post-title {
      font-size: modular-scale(1.5, 0.7em, $golden);
    }

    .date-widget {
      .month {
        font-size: modular-scale(2);
      }
      .day {
        font-size: modular-scale(1);
      }
    }
  }
}

.results-num-posts, .results-error {
  text-align: center;
  text-transform: lowercase;
  margin-bottom: rem(50);
  color: $accent-grey;
}

.no-results {
  text-align: center;
  text-transform: lowercase;
  margin: rem(40);
  color: $accent-grey;
}

.results-error {
  margin: rem(30);
  text-transform: uppercase;
}

// search page font size fix
.results-container {
  font-size: modular-scale(-4);
}
