// Single post view
.rewardstyle-container {
  margin: rem(10) rem(25);

  .rewardstyle-title {
    font-size: em(16);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    background-color: #FFF;
  }
}

// Feed view
.rs-widget-container {
  margin: rem(15) rem(10) 0;
}
