.terms-header-border {
  margin: 0 auto rem(70px);
  border-bottom: 1px solid #000;
  height: 100%;
  max-width: 80%;
}

.terms-header {
  @include center-x-align(relative);
  top: rem(30px);
  display: inline-block;
  background: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: rem(20);
  font-family: $font-oswald;
  padding: 0 em(7px);
}

.terms-feed-container {
  @include outer-container();
  margin: 0 em(30px);

  .terms-tile {
    @include span-columns(6);
    @include omega(2n);

    .post-header {
      background-position: center;
    }
    
    .post-title {
      font-size: modular-scale(4);
    }

    .date-widget {
      .month {
        font-size: modular-scale(2);
      }
      .day {
        font-size: modular-scale(1);
      }
    }
  }
}