@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-chat9:before {
	content: "\e000";
}
.flaticon-chevron10:before {
	content: "\e001";
}
.flaticon-clothes17:before {
	content: "\e002";
}
.flaticon-cross97:before {
	content: "\e003";
}
.flaticon-facebook31:before {
	content: "\e004";
}
.flaticon-favorite21:before {
	content: "\e005";
}
.flaticon-instagram12:before {
	content: "\e006";
}
.flaticon-lines7:before {
	content: "\e007";
}
.flaticon-pinterest11:before {
	content: "\e008";
}
.flaticon-search74:before {
	content: "\e009";
}
.flaticon-socialnetwork176:before {
	content: "\e00a";
}
.flaticon-twitter1:before {
	content: "\e00b";
}
