<div class="insta-widget">
    <div class="insta-tile am-fade-and-slide-top" ng-repeat="photo in insta.feed | limitTo: insta.tileCount">
        <a href="http://instagram.com/hey_im_kate" target="_blank">
            <div class="insta-caption-container">
                <i class="icon-instagram flaticon-instagram12"></i>
                <div class="insta-likes insta-caption">
                    <i class="icon-heart insta-caption-icon flaticon-favorite21"></i>
                    <span>{{::photo.likes.count}}</span>
                </div>
                <div class="insta-comments insta-caption">
                    <i class="icon-comment insta-caption-icon flaticon-chat9"></i>
                    <span>{{::photo.comments.count}}</span>
                </div>
            </div>
        </a>
        <img fpr-insta-loaded class="insta-image" ng-src="{{::photo.images.standard_resolution.url}}" />
    </div>
</div>
