<div class="comment-container">
    <button class="fpr-btn comment-btn" ng-if="!comment.commentsReady" ng-click="comment.showComments()">Leave a Comment</button>
    <div class="disqus-comment-count" disqus-identifier="comment.disqusIdentifier"></div>

    <div class="disqus-container">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
